@import "src/style/variables";
.empty_post {
  width: 100%;
  height: 377px;
  margin-top: 10px;
  background-color: var(--background-color-blocks);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;

  .empty_post_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 30px;
  }
}