.user_info {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;

  @media (max-width: 578px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }
}