@import "src/style/variables";
.avatar_img {
  border: 1px solid $border-color;
  background-color: $background-color-blocks;
  border-radius: $border-radius;
  width: 200px;

  button {
    font-family: 'Inter Tight', sans-serif;
    cursor: pointer;
    background-color: $button-background-color;
    color: $text-color;
    border: none;
    border-radius: $border-radius;
    width: 150px;
    font-size: $font-size-text;
    display: block;
    margin: 10px auto;
  }

  img {
    width: 200px;
    height: 200px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

