@import "src/style/variables";

.dialog_item {
  display: flex;
  align-items: center;
  height: 65px;
  width: 100%;
  font-size: var(--font-size-text);
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: var(--background-color-hover);
  }

  .dialog_photo {
    padding: 5px;

    img {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      margin-top: 5px;
    }
  }

  .dialog {
    margin-left: 10px;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    & > * {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .dialog_title {
      h2 {
        font-size: var(--font-size-text);
        color: var(--title-color);
      }
    }

    .dialog_preview {
      max-width: 100%;
      line-height: 16px;

      span {
        font-size: 14px;
        color: var(--chat-font-color);
        line-height: 2em;
      }
    }
  }
}