@import "src/style/variables";

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chat_title {
    height: 49px;
    padding: 10px;
    font-size: $font-size-text;
    color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $border-color;

    p {
      display: block;
    }

    img {
      width: 35px;
      height: 35px;
      border-radius: 30px;
    }
  }

  .messages_list {
    height:100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    overflow-y: auto;

    .messages_item {
      background-color: #5f6368;
      border-radius: 20px;
      width: content-box;
      font-size: $font-size-text;
      height: auto;
      margin-bottom: 10px;
      padding: 10px;
      align-self: flex-end;
    }
  }

  .chat_input {
    width: 100%;
    border-top: 1px solid $border-color;
    display: flex;
    justify-content: center;
    padding: 10px;
    textarea {
      width: 90%;
    }
  }

}
