@import "src/style/variables";

.friends_list {
  width: 600px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $background-color-blocks;
  height: 100%;

  .friends_list_header {
    height: 50px;
    padding: 10px;
    background-color: dimgray;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;

    span {
      font-size: 14px;
      color: $title-color;
      cursor: pointer;
    }
  }

  .friends_list_body {

  }
}