.header {
  grid-area: header;
  background-color: #353536;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #5f6368;
  height: 60px;

  .icon {
    width: 55px;
    height: 55px;
  }

  .icon:hover {
    transform: rotate(360deg);
    transition: 2s;
  }

  .searchForm {

  }

  .authorization {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 18px;
      color: snow;
      font-weight: 700;
      display: block;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 30px;
      border: 1px solid #5f6368;
      margin-left: 10px;
    }
  }
}

