@import "src/style/variables";
.header {
  grid-area: header;
  background-color: var(--background-color-blocks);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  height: 60px;

  .icon {
    width: 55px;
    height: 55px;
  }

  .icon:hover {
    transform: rotate(360deg);
    transition: 2s;
  }

  .authorization {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      font-size: var(--font-size-text);
      font-weight: 700;
      display: block;
    }

    .menu {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;

      & li ul {
        display: none;
        padding: 10px;
        height: 200px;
        position: absolute;
        top: 52px;
        right: -21px;
        width: 200px;
        border: 1px solid var(--border-color);
        border-radius: 10px;
        background-color: var(--background-color-blocks);

      }
      & li > .show {
        display: block;
        animation: opacity 1s ease-in;

        a {
          color: var(--title-color);
          font-size: 14px;
        }
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 30px;
        border: 1px solid var(--border-color);
        margin: 0 5px 0 10px;
      }

      svg {
        cursor: pointer;
      }
    }
  }
}


