.nav {
    grid-area: nav;
    background-color: #353536;
    border-radius: 15px;
    border: 1px solid #5f6368;
    min-height: calc(100vh - 60px - 40px);

    .nav_list {
        margin-top: 10px;
        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
        li {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            color: snow;
            margin-left: 10px;
            height: 30px;
            max-width: 180px;
            padding: 10px;
            font-size: 17px;
            cursor: pointer;
        }
        li:hover {
            background-color: #5f6368;
            border-radius: 10px;
        }
    }

}


