$background-color-body:#0A0A0A;
$background-color-blocks:#353536;
$text-color:snow;
$border-color:#5f6368;
$button-background-color:#5f6368;
$title-color:orange;
$font-size-text:16px;
$font-size-title:20px;
$border-radius:10px;
