@import "src/style/variables";

.textArea {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background-color: var(--background-color-blocks);
  width: 100%;
  font-size: var(--font-size-text);
  color: var(--text-color);
  padding: 10px;
  outline: none;
  resize: none;
}

