@import "src/style/variables";
.textArea {
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background-color: $background-color-blocks;
  width: 100%;
  font-size: $font-size-text;
  color: $text-color;
  padding: 10px;
  outline: none;
  resize: none;
}

