@import "src/style/variables";

.empty_chat_content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .image {

  }

  .description {
    font-size: var(--font-size-text);
  }
}
