@import "src/style/variables";

.dialogs_content {
  display: grid;
  grid-template-columns: 2fr 4fr;
  background-color: var(--background-color-blocks);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: calc(100vh - 60px - 40px);

  .dialogs {
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
  }
}










