.dialogs_content {
    color: snow;
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: #353536;
    border: 1px solid #5f6368;
    border-radius: 10px;
    height: calc(100vh - 60px - 40px);
}

.dialogs {
    border-right: 1px solid #5f6368;
    overflow-y: auto;
}
.form input {
    border: none;
    width: 100%;
    font-size: 17px;
    color: snow;
    padding: 15px 10px 15px 26px;
    outline: none;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2224%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%2F%3E%3Cpath%20d%3D%22M16.76023%2014.65292l2.89644%202.64982c.39061.35735.40734.94696.03329%201.32101l-.06627.06627c-.37223.37222-.96593.35483-1.321-.0333l-2.64978-2.89648C14.6412%2016.53776%2013.37458%2017%2012%2017c-3.3137%200-6-2.6863-6-6s2.6863-6%206-6%206%202.6863%206%206c0%201.3746-.46224%202.64122-1.23977%203.65292zM12%2015c2.20914%200%204-1.79086%204-4s-1.79086-4-4-4-4%201.79086-4%204%201.79086%204%204%204z%22%20fill%3D%22%23828282%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat left;
}
.dialogs li {
    height: 65px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #5f6368;
    font-size: 18px;
    font-family: 'Comic Neue', cursive;
    cursor: pointer;
    color: orange;
}
.dialogs img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dialogs li:hover {
    background-color: #5f6368;
}

.chat_item {
    padding: 10px;
    overflow-y: auto;
}

.dialog {

}