.dialogs_content {
  color: snow;
  display: grid;
  grid-template-columns: 2fr 4fr;
  background-color: #353536;
  border: 1px solid #5f6368;
  border-radius: 10px;
  height: calc(100vh - 60px - 40px);

  .dialogs {
    border-right: 1px solid #5f6368;
    overflow-y: auto;
  }
  .dialog_list {

  }
}










