@import "src/style/variables";

.friends_list_item {
  padding: 5px;
  display: flex;
  grid-gap: 10px;
  border-bottom: 1px solid var(--border-color);
  width: 90%;
  margin: 0 auto;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
  }

  .friends_list_item_desc {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-text);
    grid-gap: 20px;
    width: 100%;

    .body {
      display: flex;
      justify-content: space-between;

      a {
        cursor: pointer;
      }

      span {
        font-size: 20px;
      }
    }

    span {
      display: block;
      color: var(--title-color);
      cursor: pointer;
      width: max-content;
    }
  }
}