@import "src/style/variables";

.friends_list_item {
  padding: 5px;
  display: flex;
  grid-gap: 10px;
  border-bottom: 1px solid var(--border-color);
  width: 90%;
  margin: 0 auto;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
  }

  .friends_list_item_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-size-text);
    grid-gap: 20px;
    width: 100%;

    .body {

    }

    .buttons {
      display: flex;
      column-gap: 30px;

      span {
        display: block;
        font-size: 15px;
        color: var(--title-color);
        cursor: pointer;
        width: max-content;
      }
    }
  }
}